$searchedMarkerColor: #931fec;
$searchedMarkerColor: #b269ea;
$inputFocusColor: #f1dfff;
$color:  #555;
$answersBackground: #b055f5;
$answersBackground: #c282f3;

%search {
    box-sizing: border-box;
    font-size: 1.3em;
    padding: 0.3em;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: $color;
}

.test-answers {
    display: flex;
    flex-direction: column;
    height: 100%;

    .search {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            color: $color;
            @extend %search;
            &:focus {
                outline: none;
                background: $inputFocusColor;
            }
            &::placeholder {
                color:lighten($color, 35%);
            }
        }
    }
    .search-tools {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }
    .search-tool {
        display: inline-block;
        @extend %search;
        &:not(:first-child) {
            padding-left: 0;
        }
    }
    .loading {
        display: none;
        &.active {
            display: initial;
            animation: fade-in 1.5s linear;   
        }
    }
    @keyframes fade-in {
        0% { opacity: 0; }
        40% { opacity: 0; }
        100% { opacity: 1; }
    }

    .loading-indicator {
        border-style: solid;
        border-width: 0.2em;
        border-color: #f3f3f3; /* Light grey */
        border-top-color: $answersBackground;
        border-radius: 50%;
        width: 0.85em;
        height: 0.85em;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .question-list {
        flex: 1 100%;
        position: relative;
    }
    .question-screen {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 0.3em 0.3em rgba(#fff, 0.3);
    }
    .question-set {
        background: #ccc;
    }
    .question {
        position: relative;
        background: #fff;
        padding: 10px;
        &:nth-child(odd) {
            background-color: lighten($inputFocusColor, 4%);
        }
    }

    .question-fade {
        opacity: 0.35;
    }

    .question-word-searched {
        color: $searchedMarkerColor;
        text-shadow: 2px 2px 1px rgba(#000, 0.25);
    }
    .message {
        font-size: 0.7em;
        text-align: center;
        //font-weight: bolder;
        color: $searchedMarkerColor;
        padding: 0.3em;
    }

    .question-answers {
        background: $answersBackground;
        color: $answersBackground;
        padding: 0.3em;
        margin-left: 0.5em;
        list-style-type: circle;
    }
    
    .question-answer-tytle {
        color: #fff;
    }

}